.nav, .nav li
{
    height: 35px;
    line-height: 35px;
}
.nav li a:link, .nav li a:visited
{
    line-height: 35px;
}
.upload-big
{
    float: left;
    min-height: 500px;
    width: 970px;
    background-color: #FFFFFF;
    border-top: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.upload-small
{
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    margin-left:10px;
    width: 200px;
    line-height:25px;
    color:#666;
}
.upload-small ul{padding: 10px;}
.upload-small #selCate{
    width: 190px;
}
.uploadify-queue
{
    background: url('../../images/shop/queue_bg.jpg');
}
